.body {
    padding: 80px;
}

.topContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.topContainer img {
    width: 200px;
    height: 200px;
}

.headdingContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headdingContainer input {
    font-size: 28px;
    outline: none;
}

.headdingContainer textarea {
    outline: none;
}

.middleContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.middleContainer input {
    padding: 5px;
    width: 50px;
}

.middleContainer select {
    padding: 5px;
}

.bottomContainer h3 {
    padding: 20px 0px;
}

.bottomContainer select {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

.bottomContainer button {
    outline: none;
    border: none;
    padding: 7px;
    border-radius: 5px;
}